@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-regular.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-regular.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-ultralight.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-ultralight.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-bold.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-bold.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-medium.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-medium.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-semibold.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-semibold.woff') format('woff');
}

body {
  font-family: 'Gilroy', serif;
}
.save-life__save-life__name{
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 87px;
  color: #242424;
  position: absolute;
  width: 659px;
  height: 77px;
  left: 110px;
  top: 164px;
}
.save-life__save-life__blag{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #6B6B6B;
  position: absolute;
  width: 659px;
  height: 18px;
  left: 110px;
  top: 243px;
  }
.save-life__save-life__target{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #474747;
  position: absolute;
  width: 659px;
  height: 44px;
  left: 110px;
  top: 273px;
  }
.save-life__save-life__lasttime{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #C78100;
  position: absolute;
  width: 428px;
  height: 116px;
  left: 110px;
  top: 360px;
}
.save-life__save-life__btn{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #242424;
  position: absolute;
  height: 32px;
  left: 34px;
  right: 31px;
  top: cals(50%-32px/2);
}
.save-life__dog__bigdog{
  background: url(https://diana-diana-dev.github.io/Help_animals/pictures/dog1.png);
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  width: 718px;
  height: 713px;
  left: 538px;
  top: 0px;
}
.save-life{
  display: flex;
}
.body-color{
  background-color: #F6F6F6
}
.header-content__nav{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.nav{
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}
.nav-list{
  display: flex;
  justify-content: center;
}
.save-life{
  display: flex;
  flex-direction: row;
}
.heart{
display: inline-block;
}
.icon {
display: flex;
justify-content: space-around;
}
.shrift {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  position: absolute;
  width: 368px;
  height: 24px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
}
  ul{

}
  li{


}
