@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-regular.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-regular.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-ultralight.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-ultralight.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-bold.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-bold.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-medium.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-medium.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-semibold.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-semibold.woff') format('woff');
}
*{
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Gilroy', serif;
}

.body-color{
  background-color: #F6F6F6
}
.header-content__nav{

}
.nav{
  width: 1366px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}
.nav-list{
  display: flex;
  justify-content: center;
}
.life{
  width: 1366px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0px auto;
}
.save-life__name{
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 87px;
  color: #242424;
  position: absolute;
  width: 659px;
  height: 77px;
  left: 110px;
  top: 164px;
}
.save-life__blag{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #6B6B6B;
  position: absolute;
  width: 659px;
  height: 18px;
  left: 110px;
  top: 243px;
  }
.save-life__target{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #474747;
  position: absolute;
  width: 659px;
  height: 44px;
  left: 110px;
  top: 273px;
  }
.save-life__lasttime{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #C78100;
  position: absolute;
  width: 428px;
  height: 116px;
  left: 110px;
  top: 360px;
}
.save-life__btn{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #242424;
  height: 32px;
  left: 34px;
  right: 31px;
  top: cals(50%-32px/2);
}
.save-life__dog{
  position: absolute;
  background: url("https://diana-diana-dev.github.io/Help_animals/pictures/dog1.png");
  border-radius: 0px 0px 8px 8px;
  width: 718px;
  height: 713px;
  left: 538px;
  top: 0px;
}
.save-life__cat{
  position: absolute;
  width: 483px;
  height: 469px;
  left: 607px;
  top: 470px;
  background: url("https://diana-diana-dev.github.io/Help_animals/pictures/cat1.png")
}
.heart{
  width: 1366px;
  height: 650px;
  top:834px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  position: relative;
}
.heart-big__name{

  width: 466px;
  height: 94px;
  left: 693px;
  top: 962px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C78100;
}
.heart-big__text1{

  width: 466px;
  height: 155px;
  left: 693px;
  top: 1084px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
}
.heart-big__text2{

  width: 466px;
  height: 88px;
  left: 693px;
  top: 1259px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
}
.icon {
width: 1366px;
display: flex;
justify-content: space-around;
margin-top: 0px фauto;
position: relative;
}
.icon__item{

  width: 150px;
  height: 150px;
  left: 8px;
  top: 0px;
  background: #F6F6F6;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 6px 6px 16px
  rgba(224, 224, 224, 0.6),
  -6px -6px 16px
  rgba(255, 255, 255, 0.77);
}
.shrift__help {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  width: 368px;
  height: 24px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 1px;
}
  ul{

}
  li{


}
