@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-regular.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-regular.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-ultralight.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-ultralight.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-bold.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-bold.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-medium.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-medium.woff') format('woff');
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-semibold.woff2') format('woff2'),
      url('D:\ДИАНА\Gidhub\Help_animals\fonts\gilroy-semibold.woff') format('woff');
}
*{
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Gilroy', serif;
  max-width: 1366px;
  margin: 0 auto;
  color: #FFFFFF
}

.body-color{
  background-color: #F6F6F6
}
header{
  font-family: 'Gilroy', serif;
  max-width: 1366px;
  margin: 0 auto;
  
}
.nav{
  width: 1366px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
  padding-left: 20px;
}
.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.life{
  width: 1366px;
  display: flex;
  margin: 0px auto;
  /* justify-content: space-around; */
}
.save-life{

}

.save-life__name{
  position: absolute;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 87px;
  color: #242424;
  width: 659px;
  height: 77px;
  left: 110px;
  top: 164px;
  z-index: 1;

}
.save-life__blag{
  position: absolute;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #6B6B6B;
  width: 659px;
  height: 18px;
  left: 110px;
  top: 243px;
  z-index: 1;
  }
.save-life__target{
  position: absolute;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #474747;
  width: 659px;
  height: 44px;
  left: 110px;
  top: 273px;
  z-index: 1;
  }
.save-life__lasttime{
  position: absolute;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #C78100;
  width: 428px;
  height: 116px;
  left: 110px;
  top: 360px;
  z-index: 2;
}
.save-life__btn{
  position: relative;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #242424;
  height: 32px;
  left: 34px;
  right: 31px;
  /* top: cals(50%-32px/2); */
}
.save-life__dog{
  position: absolute;
  /*right top;*/
  border-radius: 0px 0px 8px 8px;
  width: 718px;
  height: 713px;
  left: 538px;
  top: 0px;
  background: url("https://diana-diana-dev.github.io/Help_animals/pictures/dog1.png");
  padding-right: 10px;
}
.save-life__i-will{
  position: absolute;
  width: 772px;
  height: 404px;
  left: -2px;
  top: 374px;
  color:
}
.save-life__cat{
  position: absolute;
  width: 483px;
  height: 469px;
  left: 607px;
  top: 470px;
/*  background: url("https://diana-diana-dev.github.io/Help_animals/pictures/cat1.png")*/
}
.save{
  width: 1366px;
  display: flex;
  margin: 0px auto;
  /* justify-content: space-around; */

}
.heart{
  width: 1366px;
  height: 650px;
  top:834px;
  left: 0px;
  background-color: #FFFFFF;
  display: flex;
  direction: row;
  /* align-items: center; */
  margin: 0px auto;
}
.heart-big__dogcat{
  position: absolute;
  width: 628px;
  height: 541px;
  top:888px;
  left: 0px;
}
.heart-big__name{
  position: absolute;
  width: 466px;
  height: 94px;
  left: 693px;
  top: 962px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C78100;
}
.heart-big__text1{
  position: absolute;
  width: 466px;
  height: 155px;
  left: 693px;
  top: 1084px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
}
.heart-big__text2{
  position: absolute;
  width: 466px;
  height: 88px;
  left: 693px;
  top: 1259px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
}
.ic{
  display: block;
  max-width: 1366px;
}
.icon {
max-width: 1366px;
display: flex;
justify-content: space-around;
margin-top: 0px auto;
}
.icon__help {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  width: 368px;
  height: 24px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.icon__item1 {
  width: 166px;
  height: 240px;
  left: 110px;
  top: 1635px;
}
.icon__item2 {
  width: 166px;
  height: 240px;
  left: 355px;
  top: 1635px;
}
.icon__item3 {
  width: 166px;
  height: 240px;
  left: 600px;
  top: 1635px;
}
.icon__item4 {
  width: 166px;
  height: 240px;
  left: 845px;
  top: 1635px;
}
.icon__item5 {
  width: 166px;
  height: 240px;
  left: 1090px;
  top: 1635px;
}

  ul{

}
  li{


}
