@media screen and (max-width: 640px){
  .conteiner{
  max-width: 640px;
  margin: 0px auto;
  padding: 0px 129px;
}
  .header__burger{
  	width: 32px;
  	height: 32px;
  	left: 0px;
  	top: 24px;
  }
  .header__body{
  	height: 80px;
  }

  .header__menu{
  	position: absolute;
  	display: block;
  	top: -250%;
  	left: -70px;
  	width: 67%;
  	height: 160%;
  }
  .header__burger.active:before{

  	transform: rotate(45deg);
  	top: 12px;
  }
  .header__burger.active:after{
  	transform: rotate(-45deg);
  	bottom: 19px;
  }
  .header__logo{
  	padding-left: 80%;
  }
  .header__logo img{
    width: 50px;
    height: 50px;
    top: 0;
  }
   .life{
  	max-width: 640px;
 }
 .save-life{
  	padding-bottom: 3%;
  	padding-left: 129px;
  	padding-right: 0px;
  	margin-right: 0px;
  	/*padding-right: 10%;*/
 }
 .save-life__name{
  	font-size: 30px;
  	line-height: 36px;

  	/*padding-top: 0px;*/
 }
 .save-life__blag{
  	font-size: 12px;
  	line-height: 14px;
  	padding-right: 60%;
  	margin-bottom: 20px;
 }
 .save-life__target{
  	font-size: 14px;
  	line-height: 140%;
  	margin-bottom: 152px;
 }
 .save-life__lasttime{
 	display: flex;
  	font-size: 16px;
  	line-height: 19px;
  	margin-bottom: 20px;
  	padding-left: 1px;
  	padding-right: 129px;
  	/*justify-content: center;*/
  	text-align: center;
 }
 .save-life__btn{
 	display: flex;
 	justify-content: center;
 	margin-right: 0px;
 	padding-left: 14%;
 	padding-right: 35%;
 }
 .save-life-dog{
   max-width: 312px;
   max-height: 357px;
   right: 0;
   padding-right: 0px;
   padding-left: 40%;

}
.orange_cat{
   max-width: 173px;
   max-height: 165px;
   padding-left: 60%;
   padding-right: 10%;
   top: 42%;
}
.words{
   max-width: 385px;
   max-height: 210px;
   left: 13px;
   padding-right: 5px;
   padding-top: 15%;

}
.heart{
	display: flex;
	flex-direction: column;
}
.left_box{
  display: flex;
  width: 65%;
  padding: 16px 100px 32px 0px;
  margin-right: 0px;
}
.left_box__yellow{
  display: flex;
  display: none;
  /*padding-top: 16px;*/
  left: 0;
}
 .right_box{
 	width: 100%;
  	padding: 24px 129px 16px 129px;
 }
 .right_box__name{
  	font-size: 16px;
  	line-height: 120%;
 }
 .right_box__text1{
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 16px;
}
.right_box__text2{
  font-size: 14px;
  line-height: 140%;
}
.icon_help__name{
  font-size: 18px;
  line-height: 133%;
  padding-top: 32px;
  padding-bottom: 34px;
 }
 .icon_link{
  padding-right: 91px;
  padding-left: 91px;
  }
 .icon_link__item1{
  width: 140px;
  height: 190px;
  padding-bottom: 32px;
  padding-right: 5px;
  padding-left: 5px;
 }
 .icon_link__item2{
  width: 140px;
  height: 190px;
  padding-bottom: 32px;
  padding-right: 5px;
  padding-left: 5px;
 }
 .icon_link__item3{
  width: 140px;
  height: 190px;
  padding-bottom: 32px;
  padding-right: 5px;
  padding-left: 5px;
 }
 .icon_link__item4{
  width: 140px;
  height: 190px;
  padding-bottom: 32px;
  padding-right: 5px;
  padding-left: 5px;
 }
 .icon_link__item5{
  width: 140px;
  height: 190px;
  padding-bottom: 32px;
  padding-right: 5px;
  padding-left: 5px;
 }
.bord1__1{
  padding-top: 40px;
  width: 100%;
}
.home{
  flex-direction: column;
  padding: 24px 129px 40px 129px;


}
.home-love{
  width: 100%;
  padding: 0px;
 }
 .home-time{
  width: 100%;
  padding: 0px;

 }
 .home-love__name{
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-bottom:16px;
 }
 .home-love__text{
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 32px;

}
 .home-time__name{
  text-align: center;
  font-size: 16px;
  line-height: 150%
  margin-bottom:16px;
 }
 .home-time__text{
  font-size: 14px;
  line-height: 140%;
}
.our__animals{
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 16px;
}
.link-animals__btn{
  font-size: 20px;
  line-height: 200%;
  padding-bottom: 16px;
}
.gallery__item{
  display: inline-flex;
  justify-content: center;
  width: 300px;
  height: 525px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.gallery__shadow{
  width: 300px;
  height: 525px;
}
.gallery__img{
  height: 284px;
  width: auto;
}
.gallery__text{
  width: 272px;
  height: 80px;
}
 .buttons__center{
  width: 100%;
  justify-content: center;
  align-items: center;

  }
.social{
	/*flex-direction: column;*/
	display: block;
}
.social__text{
 	/*max-width: 529px;*/
    font-size: 14px;
    line-height: 140%;
    padding: 40px 129px 6px 129px;
 }

 .social__vk{

    padding-left: 220px;
 }
 .social__vk img{
 	width: 90px;
 	height: 90px;
 }
 .social__insta img{
   width: 90px;
   height: 90px;
 }
 .bord2__2{
    padding-top: 42px;
 }
 .financehelp__name{
    font-size: 16px;
    line-height: 150%;
    padding-top: 24px;
  }
 .financehelp__text{
    font-size: 16px;
    line-height: 150%;
    padding-top: 16px;
    padding-left: 129px;
    padding-right: 129px;
    padding-bottom: 40px;
  }
  .fin_information{
  	display: block;
  	/*width: 100%;*/
  }
  .fin-score{
      width: 100%;
    }
  .fin-score__name{
    font-size: 20px;
    line-height: 120%;
    padding-left: 129px;
    padding-bottom: 16px;
  }
  .fin-score__data{
    font-size: 14px;
    line-height: 140%;
    padding-left: 129px;
    padding-bottom: 16px;
  }
 .fin-score__btn{
    padding-left: 115px;
    padding-bottom: 32px;
  }
  .fin-box{
  	width: 100%;
  }
 .fin-box__name{
    font-size: 20px;
    line-height: 120%;
    padding-right: 0px;
    padding-left: 129px;
    padding-bottom: 16px;

  }
  .fin-box__text{
    font-size: 14px;
    line-height: 140%;
    padding-right: 0px;
    padding-left: 129px;
  }
  .fin-box__list{
    font-size: 14px;
    line-height: 140%;
    padding-right: 10px;
    padding-left: 142px;
    padding-bottom: 16px;
  }
 .fin-box__map {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 20px;
    padding-left: 129px;
  }
  .bord3__3{
    padding-top: 32px;
    padding-bottom: 24px;
  }
  .food__name{
    font-size: 16px;
    line-height: 150%;
    padding-left: 129px;
    padding-bottom: 16px;
  }
 .food__text1 {
    font-size: 14px;
    line-height: 140%;
    padding-left: 129px;
    padding-right: 129px;
    padding-bottom: 5px;
  }
 .food__text{
    font-size: 14px;
    line-height: 140%;
    padding-left: 145px;
    padding-right: 129px;
    padding-bottom: 5px;
  }
 .food__text2{
    font-size: 14px;
    line-height: 140%;
    padding-left: 129px;
    padding-right: 129px;
    padding-bottom: 40px;
  }
  .medicine__name{
    font-size: 16px;
    line-height: 150%;
    padding-left: 129px;

  }
  .medicine__text{
    font-size: 14px;
    line-height: 140%;
    padding-left: 129px;
    padding-right: 129px;
    margin: 16px 0px 0px 0px;
    padding-bottom: 40px;
 }
 .things__name{
    font-size: 16px;
    line-height: 150%;
    padding-left: 129px;
    margin: 0px 0px 16px 0px;
  }
 .things__text{
    font-size: 14px;
    line-height: 140%;
    padding-left: 129px;
    padding-right: 129px;
  }
  .things__text_ul{
    font-size: 14px;
    line-height: 140%;
    padding-left: 145px;
    padding-right: 129px;
  }
 .giv-link{
  /*top: calc(50% - 40px/2);*/
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .bord4__4{
    padding-bottom: 24px
  }
  .autohelp-name{
  	display: flex;
    font-size: 16px;
    line-height: 150%;
    padding-left: 0px;
    padding-bottom: 16px;
    padding-right: 0px;
    justify-content: center;
  }
 .autohelp-text{
    font-size: 14px;
    line-height: 140%;
    padding-left: 129px;
    padding-right: 129px;
    padding-bottom: 16px;
 }
 .autocar-btn{
 	display: flex;
 	justify-content: center;
    padding-left: 0px;
    padding-bottom: 10px;
 }
 .bord5__5{
    padding-top: 30px;
 }
 .volonterstvo{
 	display: block;
 }
 .dogplay{
 	width: 65%;
    padding: 24px 0px 24px 0px;
 }
 .volonterstvo_right{
 	width: 100%;
 }
 .volonterstvo_right__name{
 	display: flex;
 	justify-content: center;
 	font-size: 16px;
    line-height: 150%;
    padding: 0px;
    padding-bottom: 16px;
 }
 .volonterstvo_right__text{
    font-size: 14px;
    line-height: 140%;
    padding: 0px 129px 16px 129px;
  }
  .volonterstvo_right__btn{
  	display: flex;
  	justify-content: center;
    padding-left: 0px;
    padding-bottom: 48px;
  }
  .news__name{
    font-size: 16px;
    line-height: 150%;
    padding-top: 48px;
  }
  .news_news__photo1{
    width: 79px;
    height: 79px;
    padding: 35px 16px 84px 129px;
  }
  .news_news__text1{
    font-size: 14px;
    line-height: 140%;
    padding: 24px 129px 24px 0px;
  }
  .news_news__photo2{
    width: 79px;
    height: 79px;
    padding: 45px 16px 59px 129px;
  }
  .news_news__text2{
    font-size: 14px;
    line-height: 140%;
    padding: 24px 129px 16px 0px;
  }
  .news-news__link{
  	display: flex;
  	justify-content: center;
    font-size: 20px;
    line-height: 200%;
    margin-left: 0px;
    margin-top: 16px;
    padding-bottom: 16px;
  }



  .about__us{
   font-size: 16px;
   line-height: 150%;
   padding-top: 32px;
   margin-bottom: 24px;
 }
 .about__we{
   font-size: 14px;
   line-height: 143%;
   padding-left: 129px;
   padding-right: 129px;
   margin-bottom: 32px;
 }
 .about__contacts{
   font-size: 18px;
   line-height: 21px;
   padding-left: 129px;
   padding-right: 129px;
   margin-bottom: 18px;
 }
 .about__call{
   font-size: 14px;
   line-height: 140%;
   padding-left: 129px;
   padding-right: 129px;
   margin-bottom: 24px;
 }
 .about__networks{
   width: 310px;
   font-size: 16px;
   line-height: 140%;
   padding-left: 129px;
   padding-right: 100px;
   padding-bottom: 16px;
 }
 .about__vk{

    padding-left: 170px;
    padding-bottom: 30px;
  }
  .about__vk img{
  	width: 80px;
 	height: 80px;
  }
 .about__insta{

    margin-left: 16px;
    padding-bottom: 30px;
  }
  .about__insta img{
  	width: 80px;
 	height: 80px;
  }
  .menu{
  max-width: 640px;
  height: 200px;

}




}
