@media screen and (max-width: 1024px){
  .header__body{
  height: 110px; 
}
  .life{
  	max-width: 1024px;
 }
 .save-life{
  	padding-bottom: 3%;
  	padding-right: 10px;
 }
 .save-life__name{
  	font-size: 64px;
  	line-height: 77px;
 }
 .save-life__blag{
  	font-size: 14px;
  	line-height: 140%;
 }
 .save-life__target{
  	font-size: 14px;
  	line-height: 140%;
  	margin-bottom: 43px;
  	padding-right: 45%;
 }
 .save-life__lasttime{
  	font-size: 20px;
  	line-height: 24px;
  	padding-right: 64%;
  	margin-bottom: 43px;
 } 
 .save-life-dog{
  max-width: 504px;
  max-height: 564px;
  /*padding-left: 42%;*/
  

}
 .words{
  max-width: 573px;
  max-height: 300px;
  left: -2px;
  padding-right: 43.6%;
  padding-top: 16%;
 
}
 .orange_cat{
  max-width: 344px;
  max-height: 326px;
  top: 65%;
}
 .left_box{
  	padding-top: 36px;
  	margin-right: 53px;
 }
 .right_box{
  	padding: 67px 179px 36px 10px; 
 }
 .right_box__name{
  	font-size: 24px;
  	line-height: 100%;
 }
 .icon_help__name{
  	font-size: 24px;
 	  padding-top: 64px;
  	padding-bottom: 32px;
 }
 .icon_link__item1{
  	width: 140px;
  	height: 190px;
  	padding-bottom: 54px;
 }
 .icon_link__item2{
  	width: 140px;
  	height: 190px;
  	padding-bottom: 54px;
 }
 .icon_link__item3{
  	width: 140px;
 	height: 190px;
  	padding-bottom: 54px;
 }
 .icon_link__item4{
  	width: 140px;
  	height: 190px;
  	padding-bottom: 54px;
 }
 .icon_link__item5{
  	width: 140px;
  	height: 190px;
  	padding-bottom: 54px;
 }
 .home-love{
  	padding: 40px 10px 48px 227px;
 }
 .home-time{
  	padding: 40px 179px 48px 87px;
 }
 .home-love__name{
  	font-size: 24px;
 }
 .home-time__name{
  	font-size: 24px;
 }
 .our__animals{
  	font-size: 24px;
 }
 .link-animals__btn{
  	padding-bottom: 16px;
 }
 .second-gallery2{
  	order: 3;
 }
 .second-gallery2{
    order: 2;
 }
 .social__text{
 	/*max-width: 529px;*/
    font-size: 16px;
    line-height: 140%;
    padding: 48px 7px 79px 13.1%;  
 }
 .social__vk{
    padding-top: 48px;
 }
 .social__insta{
    padding-top: 48px;
    padding-right: 13.1%;
 }
 .bord2__2{
    padding-top: 14px;
  }
 .financehelp__name{
    font-size: 24px;
    line-height: 100%;
    padding-top: 24px;
  }
 .financehelp__text{
    font-size: 16px;
    line-height: 150%;
    padding-top: 16px;
    padding-left: 247px;
    padding-right: 247px;
    padding-bottom: 40px;
  }
 .fin-score__name{
    font-size: 24px;
    line-height: 100%;
    padding-left: 227px;
    padding-bottom: 24px;
  }
 .fin-score__data{
    font-size: 14px;
    line-height: 140%;
    padding-left: 227px;
    padding-bottom: 29px;
  }
 .fin-score__btn{
    padding-left: 217px;
    padding-bottom: 117px;
  }
 .fin-box__name{
    font-size: 24px;
    line-height: 100%;
    padding-right: 179px;
    padding-bottom: 24px;
    padding-left: 69px;
  }
 .fin-box__text{
    font-size: 16px;
    line-height: 140%;
    padding-right: 179px;
    padding-left: 69px;
  }
  .fin-box__list{
    font-size: 16px;
    line-height: 140%;
    padding-right: 179px;
    padding-left: 85px;
    padding-bottom: 24px;
  }
 .fin-box__map{
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 3px;
    padding-left: 69px;
  }
 .bord3__3{
    padding-top: 36px;
    padding-bottom: 24px;     
  }
 .food__name{
    font-size: 24px;
    line-height: 100%;
    padding-left: 316px;
    padding-bottom: 24px;   
  }
 .food__text1 {
    font-size: 16px;
    line-height: 140%;
    padding-left: 316px;
    padding-right: 227px; 
    padding-bottom: 5px;
  }
 .food__text{     
    font-size: 16px;
    line-height: 140%;
    padding-left: 332px;
    padding-right: 227px;
    padding-bottom: 5px;
  }
 .food__text2{
    font-size: 16px;
    line-height: 140%;
    padding-left: 316px;
    padding-right: 227px;
    padding-bottom: 40px;
  }
  .medicine__name{
    font-size: 24px;
    line-height: 100%;
    padding-left: 316px;
  }
  .medicine__text{
    font-size: 16px;
    line-height: 140%;
    padding-left: 316px;
    padding-right: 227px;
 }
 .things__name{
    font-size: 24px;
    line-height: 100%;
    padding-left: 316px;
    padding-right: 227px;
    margin: 24px 0px;
  }
 .things__text{
    font-size: 16px;
    line-height: 140%;
    padding-left: 316px;
    padding-right: 227px;
  }
  .things__text_ul{
    font-size: 16px;
    line-height: 140%;
    padding-left: 332px;
    padding-right: 227px;
  }
 .giv-link{
  /*top: calc(50% - 40px/2);*/
    padding-left: 316px;
    padding-top: 16px;
    padding-bottom: 58px;
  }
 .bord4__4{
    padding-bottom: 24px    
  }
 .autohelp-name{
    font-size: 24px;
    line-height: 100%;
    padding-left: 316px;
    padding-right: 227px;
    padding-bottom: 24px;
  }
 .autohelp-text{
    font-size: 16px;
    line-height: 140%;
    padding-left: 316px;
    padding-right: 227px;
    padding-bottom: 38px;
 } 
 .autocar-btn{
    padding-left: 306px;
    padding-bottom: 77px;
 }
 .bord5__5{
    padding-top: 30px;
 } 
 .dogplay{
    padding: 0px 61px 41px 0px;
 } 
 .volonterstvo_right__name{
    font-size: 24px;
    line-height: 100%;
    padding: 15px 179px 24px 5px;
 } 
 .volonterstvo_right__text{
    font-size: 16px;
    line-height: 140%;
    padding: 24px 179px 24px 5px;
  }
  .volonterstvo_right__btn{
    padding-left: 0px;
    padding-bottom: 41px; 
  }
  .news__name{
    font-size: 24px;
    line-height: 100%;
    padding-top: 36px;
  }
  .news_news__photo1{
    width: 130px;
    height: 130px;
    padding: 31px 56px 38px 247px; 
  }
  .news_news__text1{
    font-size: 16px;
    line-height: 140%;
    padding: 26px 158px 28px 15px;
  }
  .news_news__photo2{
    width: 130px;
    height: 130px;
    padding: 38px 56px 23px 247px;
  }
  .news_news__text2{       
    font-size: 16px;
    line-height: 140%;
    padding: 28px 159px 18px 15px;
  }
  .news-news__link{
    font-size: 20px;
    line-height: 200%;
    margin-left: 247px;
    margin-top: 23px;
    padding-bottom: 36px;
  }
  .about__us{
   font-size: 24px;
   line-height: 100%;
   padding-top: 48px;
   margin-bottom: 24px; 
 }
 .about__we{
   font-size: 16px;
   line-height: 150%;
   padding-left: 316px;
   padding-right: 227px;
   margin-bottom: 24px;
 }
 .about__contacts{
   font-size: 22px;
   line-height: 26px;
   padding-left: 316px;
   padding-right: 227px;
   margin-bottom: 24px;
 }
 .about__call{
   font-size: 14px;
   line-height: 140%;
   padding-left: 316px;
   padding-right: 227px;
   margin-bottom: 32px;
 }
 .about__networks{
 	width: 348px;
   font-size: 16px;
   line-height: 140%;
   padding-left: 316px;
   padding-right: 35.1%;
   padding-bottom: 24px;
 }
 .about__vk{
    padding-left: 306px;
    padding-bottom: 48px;
  }
 .about__insta{
    margin-left: 20px;
    padding-bottom: 48px;
  } 
  
 .menu{
   width: 100%;
   height: 117px;
   display: flex;
   background-color:#E5E5E5;
  flex-wrap: wrap;
 }
 .menu-footer{  
   padding-top: 24px;
   padding-bottom: 24px;
   padding-left: 110px;
   padding-right: 110px;  
}
 .menu-footer2{
   padding-top: 24px;
   padding-bottom: 20px;
   padding-left: 95px;
   padding-right: 21px;
}
}